<section
  class="dock-panel"
  [class.lowered]="isMaximizedWindow()"
  [class.hidden]="isDragging()"
  #dockPanel
>
  @for (item of dockItems(); track item.appId) {
    @let animation = getAnimationForItem(item.appId);
    <app-dock-item
      [iconSrc]="item.iconSrc"
      [label]="item.label"
      [index]="item.appId"
      [isActive]="item.isActive"
      [scale]="animation?.scale ?? 1"
      [bounce]="animation?.bounce ?? 0"
      (clicked)="openApp(item.appId)"
    />
    @if (shouldShowDivider($index)) {
      <div class="divider" aria-hidden="true"></div>
    }
  }
</section>
