<div
  class="window-container"
  [ngClass]="{ active: isActive, maximized: isMaximized }"
  [ngStyle]="{
    width: isMaximized ? '100%' : width + 'px',
    height: isMaximized ? 'calc(100vh - 2rem)' : height + 'px',
    transform: isMaximized ? 'none' : 'translate(' + position.x + 'px, ' + position.y + 'px)'
  }"
  #window
>
  <div class="window-header" (mousedown)="startDrag($event)">
    <app-traffic-lights
      (close)="closeWindow()"
      (maximize)="toggleMaximize()"
      (minimize)="minimizeWindow()"
    ></app-traffic-lights>
  </div>
  <div class="window-content">
    <p>App ID: {{ appId }}</p>
    <ng-content></ng-content>
  </div>
</div>
