<div
  class="window-container"
  [ngClass]="{ active: isActive, maximized: isMaximized }"
  [ngStyle]="{
    width: isMaximized ? '100%' : width + 'px',
    height: isMaximized ? 'calc(100vh - 2rem)' : height + 'px',
  }"
  #window
>
  <div class="window-header" (mousedown)="startDrag($event)">
    <app-traffic-lights
      (close)="closeWindow()"
      (maximize)="toggleMaximize()"
      (minimize)="minimizeWindow()"
    ></app-traffic-lights>
    <div class="window-title">{{ defaultTitle }}</div>
  </div>
  <div class="window-content">
    <ng-content></ng-content>
  </div>
</div>
